* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.App {
  max-width: 70rem;
  margin: 0 auto;
  background-color: goldenrod;
  height: 100%;
}
